* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
  color: #444;
}

body {
  color: #444;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul {
  margin-left: 50px;
  margin-bottom: 10px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

.intro {
  list-style: none;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  border-top: 10px solid #1098ad;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

footer {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  text-align: center;
  font-weight: bold;
  padding: 30px 0;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.pikachu {
  width: 20%;
  height: auto;
  margin-right: 100px;
}

a {
  margin: 0 3px;
}
